.nav-bar {
  height: 70px;
  width: 100vw;
  background-color: $white;
  box-shadow: 0 4px 10px 0 $black-shadow;
  position: sticky;
  border-top: 6px solid $cerulean;
  display: flex;
  justify-content: space-around;
}
  
.logo-wolox {
  height: 70px;
  width: 210px;
  position: relative;
}
 
.logout {
  height: 18px;
  width: 63px;
  color: $black;
  font-size: 18px;
  line-height: 21px;
  position: relative;
  padding-top: 20px;
}
