.login-container {  
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  max-height: 400px;
  background-color: $wild-sand;
  border-top: 8px solid $cerulean;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-wolox {
  height: 70px;
  width: 210px;
  margin: 20px 0 16px 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 2px solid $silver-chalise;
}

title {
  height: 22px;
  color: $black;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}

.input {
  height: 32px;
  width: 252px;
  border-radius: 5px;
  background-color: $white;
  margin-bottom: 16px;
}

.login {
  height: 32px;
  width: 252px;
  border-radius: 5px;
  background-color: $earls-green;
  position: relative;
  margin: 8px 0 16px 0;
  
}

.singup {
  box-sizing: border-box;
  height: 32px;
  width: 252px;
  border-radius: 5px;
  background-color: $wild-sand;
  border: 2px solid $earls-green;
  margin: 16px 0 24px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
