@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

%equal-font-heights {
 
  font-family: Roboto, sans-serif;;
  display: flex;
  align-items:baseline;

}

$color-1: #828282;
$color-2: #000;
$color-3: #BED23C;
$color-4: #FFF;

.book {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 416px;
  width: 900px;
  background-color: $color-4;
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.5);
}

.book-cover {
  margin: 24px 52px 24px 24px;
  height: 368px;
  width: 261px;
}

.badge {
  height: 118.57px ;
  width: 94.53px;
  transform: rotate(15deg);
  position: absolute;
  left: 223.73px;
  top: 11.71px;
  z-index: 0;
}

.text-book {
  
  width:540px;
  border-top: 4px solid $color-3;
  
}


.data-book {
  @extend %equal-font-heights;  
  color: $color-2; 
  right: 52px;

}

.data {
  @extend %equal-font-heights;
  color: $color-1;  
}




